$bg--color--light: #F6F8FF;
$bg--color--dark: #141D2F;
$font--color--light: #4B6A9B;
$font--color--dark: #fff;
$font--color--header--light: #222731;
$font--color--header--dark: #fff;

$input--bg--color: #fff;
$input--bg--color--dark: #1E2A47;

$box--shadow: 0 4px 4px rgb(75, 106, 155, .2);

p,
h3 {
  margin: 0;
}


.container {
  display: flex;
  flex-direction: column;
  align-self: center;
  min-height: 100vh;


  >div {
    display: flex;
    flex-direction: column;
    align-self: center;
    max-width: 500px;
    padding: 0 30px;
    gap: 20px;
  }
}



// codigo sem tema

.header {
  display: flex;
  justify-content: space-between;

  h1 {
    font-size: 26px;
  }

  button {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: unset;
    border: unset;
    align-self: center;
    cursor: pointer;
    font-weight: 600;
    letter-spacing: .2em;
    font-size: 13px;
  }
}

.search__bar {
  display: flex;
  border-radius: 12px;
  height: 60px;
  background-color: #1E2A47;
  position: relative;
  padding-left: 5%;

  input {
    width: 100%;
    border-radius: 12px;
    background-color: unset;
    outline: unset;
    border: unset;
    padding: 0 3%;
    font-family: 'Space Grotesk', sans-serif;
  }

  .search__button {
    position: absolute;
    right: 15px;
    top: 6px;
    height: 46px;
    width: 80px;
    border-radius: 12px;
    background-color: #0079FF;
    font-size: 14px;
    font-weight: 500;
    outline: unset;
    border: unset;
  }
}


.main__content {
  display: flex;
  flex-direction: column;
  gap: 30px;
  background-color: #1E2A47;
  border-radius: 12px;
  padding: 10%;
}

.user__info {
  display: flex;
  align-items: center;
  gap: 30px;

  img {
    width: 70px;
    height: 70px;
  }

  div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    height: 100%;

    h3,
    p {
      align-self: flex-start;
    }

    h3 {
      font-size: 16px;
    }

    p {
      font-size: 13px;
    }

    .username {
      color: #0079FF;
    }
  }
}

.user__description {
  display: flex;
  flex-wrap: wrap;
  text-align: start;

  p {
    font-weight: 300;
    line-height: 25px;
    letter-spacing: 0px;
    font-size: 14px;
  }
}

.user__git__info {
  display: flex;
  flex-direction: row;
  align-self: center;
  justify-content: space-evenly;
  background-color: #141D2F;
  width: 100%;
  border-radius: 12px;
  padding: 20px 0;

  p {
    font-size: 11px;
  }
}

.user__socials {
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 100%;
  gap: 10px;

  div {
    display: flex;
    max-width: 100%;
    gap: 20px;
  }
}

// ! tema light 
.lightMode {
  background-color: $bg--color--light;
  color: $font--color--light;

  .header {

    h1 {
      color: $font--color--header--light;
    }

    button {
      color: #4B6A9B;
    }
  }

  .search__bar {
    background-color: $input--bg--color;
    box-shadow: $box--shadow;

    input {
      color: #4B6A9B;
    }

    input::placeholder {
      color: #4B6A9B;
    }
  }

  .main__content {
    background-color: $input--bg--color;
    box-shadow: $box--shadow;

    h3 {
      color: #2B3442;
    }

    .user__info {
      p:last-child {
        color: #697C9A;
      }
    }
  }

  .user__git__info {
    background-color: #F6F8FF;

    b {
      color: #2B3442;
    }
  }

  .user__socials {
    color: #4B6A9B;
  }
}

// ! tema dark 
.darkMode {
  background-color: $bg--color--dark;
  color: $font--color--dark;

  .header {

    h1,
    button {
      color: $font--color--header--dark;
    }
  }

  .search__bar {
    background-color: $input--bg--color--dark;

    input {
      color: #fff;
    }

    input::placeholder {
      color: #fff;
    }
  }

  .main__content {
    background-color: $input--bg--color--dark;

    h3 {
      color: #fff;
    }

    .user__info {
      p:last-child {
        color: #fff;
      }
    }
  }

  .user__git__info {
    background-color: $bg--color--dark;

    b {
      color: #fff;
    }
  }

  .user__socials {
    color: #fff;
  }
}